{% extends "layout.njk" %}
{% import "parts/card.njk" as card %}

{% block content %}
  {% call card.render("Cadastrar Produto", "product-create container")%}
  <form class="form" method="POST" action="/products" enctype="multipart/form-data">
    <div class="fields">
      {%include "products/fields.njk"%}
    </div>
    <button class="button" type="submit" onclick="Validate.allFields(event)">Salvar</button>
  </form>
  {% endcall %}
  <script>
    const productCreate = document.querySelector(".form")
    productCreate.addEventListener("submit", async function (event) {
      const confirmar = await confirm("Deseja publicar este produto?")
      if (!confirmar) {
        event.preventDefault()
      }
    })
  </script>
{% endblock content %}
